
@font-face {
    font-family: 'Wendy One';
    src: url('./Wendy_One//WendyOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.custom-font {
    font-family: 'Wendy One', sans-serif;
}
